.header {
    width: 100%;
    height: 188px;
    margin: 0 auto;
    gap: 0;
    border-top: 1px solid transparent;
    opacity: 1;
    display: flex;
    border: 1px solid #E5E5E5
}

.logo-image {
    /* width: 35.61px;
    height: 35.66px; */
    gap: 0px;
    opacity: 0px;
    background: #000000;

}

.main-logo {
    margin-left: 20px;
    margin-top: 44;
}

.logo {
    /* width: 107px;
    height: 44px; */
    margin-top: 36px;
    margin-left: 550px;
    display: flex;
    opacity: 0px;
}

/* .logo h1 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 43.57px;
    letter-spacing: 1px;
    text-align: left;
} */

.icons {
    /* width: 244px;
    height: 24px; */
    margin-top: 46px;
    margin-left: 1100px;
    gap: 24px;
    opacity: 0px;
    display: flex;
}

.tab {
    /* width: 636px;
    height: 24px; */
    top: 140px;
    left: 402px;
    gap: 64px;
    opacity: 0px;
    display: flex;
}